html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: hsl(217, 19%, 35%);
  background-color: hsl(210, 46%, 95%);
  display: flex;
  font-size: 13px;
  font-weight: 500;
}

main {
  margin: 6em auto auto auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 85%;
  border-radius: 12px;
  overflow: hidden;
}

/* main image */
#drawers {
  margin-top: -1em;
}

/* both blocks of text */
#text {
  background-color: #FFFFFF;
  margin: -3.4em 0 0 0;
  padding: 0 0 .4em 1.75em;
  border-radius: 0 0 10px 10px;
} 

/* 'shift the overall look...' */
#shift {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
  margin: 2em 0 1em 0;
  width: 263px;
}

/* 'Ever been in a room...'*/
p {
  width: 88%;
  line-height: 20px;
  letter-spacing: .12px;
  font-weight: 200;
  font-size: 13px;
  color: #6E8098;
}

/* 'Michelle Appleton' */
h4 {
  display: inline-flex;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .12px;
  padding: 0 1em 0 1em;
  margin: 0;
}

/* date */
h5 {
  margin: 0 0 0 1em;
  padding: 0;
  color: #9DAEC2;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .12px;
  font-weight: 200;
}

/* section holding the avatar, name, date, and share arrow */
#author {
  display: flex;
  margin: 2em 0 0 0;
  padding: 0 0 1.9em 1em;
}

/* Michelle's avatar img */
#michelle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* share arrow */
#arrow {
  background-image: url(./images/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0 0 0 3.75em;
  cursor: pointer;
}

/* share arrow in footer */
#arrow2 {
  display: inline-flex;
  background-image: url(./images/oval.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: -.3em 0 0 4.2em;
  z-index: 1;
  position: absolute;
}

#footer {
  color: #9DAEC2;
  background-color: #48556A;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 1.9em 0 1.9em 1em;
  margin: auto;
  width: 100%;
  z-index: 0;
  display: none;
  position: relative;
}

#footer img {
  padding: 0 .3em 0 .3em;
}

#share {
  display: inline-flex;
  margin: auto;
  padding: 0 .3em 0 1em;
}

#triangle {
  display: hidden;
}

.attribution {
  display: none;
}


/* desktop view */
@media screen and (min-width: 475px){
  main {
    flex-direction: row;
    width: 730px;
    height: 280px;
    margin: auto;
  }
  #text {
    margin: -2em 0 0 -5em;
    padding: 0 0 0 3em;
    border-radius: 0;
  }
  #shift {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: .25px;
    width: 90%;
    color: #48556A;
    margin: 3em 0 1em 0;
  }
  p {
    width: 90%;
    padding: 0 0 .5em 0;
  }
  #author {
    width: 100%;
    padding: 0;
    margin: -.1em 0 0 0;
    display: flex;
  }
  #arrow {
    margin: 0 0 0 10.2em;
  }
  #arrow2 {
    display: none;
    /* margin: 2.5em 0 0 6.1em; */
    top: 20px;
    right: 35px;
    margin: 0;
    position: absolute;
  }
  #footer {
    z-index: 1;
    width: 205px;
    position: absolute;
    border-radius: 10px;
    margin: 11em 0 0 43em;
    padding: 1.3em;
    text-align: center;
  }
  #triangle {
    display: block;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #48556A;
    position: absolute;
    margin: -1.7em 0 0 3.5em;
    z-index: -1;
  }
}